.preview {
    align-items: flex-end;
    .size-1 {
        font-size: 1em;
    }
    .size-2 {
        font-size: 2em;
    }
    .size-3 {
        font-size: 3em;
    }
    .size-4 {
        font-size: 4em;
    }
}