<html>
<head>
{% set _v = 35 %}
{% block title %}<title>gadjet : HTML5 User Interface Framework</title>{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="{{to_root}}lib/gadjet/dist/normalize.css?v={{_v}}">
<link rel="stylesheet" href="{{to_root}}base.css?v={{_v}}">
<script defer src="{{to_root}}base.js?v={{_v}}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNJ0R8Y1D7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNJ0R8Y1D7');
</script>

{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
<div id="footer">
</div>
{% endblock %}
</body>
</html>
