{% extends '_base.html' %}
{% set to_root = './' %}
{% block head %}
<script defer src="index.js?v={{_v}}"></script>
<meta name="google-site-verification" content="xFq3Nl0sI_UsBeeLA_mS9GuUnf73Llq_p1GbCymLFy4" />
{% endblock %}

{% block body %}
<div id="highlight">
    <el-styled id="hl1">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 90%; min-width: 300px;">
            <h1>gadjet<sub><el-badge class="bg-theme-yellow" style="font-size: 0.3em; margin-left: 0.5rem;">0.1.12</el-badge></sub></h1>
            <h2>HTML UI<br>with Adaptive Style</h2>
            <a href="guide/intro.html"><button style="font-size: 2em;">Guide</button></a>
            <a href="https://github.com/nitipit/gadjet">
                <button class="light" style="font-size: 2em; margin-left: 1rem;">Github</button>
            </a>
        </div>
    </el-styled>
    <div id="hl2">
        <div class="text" style="width: 90%; min-width: 300px;">
            {{markdown('index.html.code.md')}}
        </div>
    </div>
</div>
<div class="container" style="margin-top: 2rem;">
    <el-card>
        {{markdown('index.html.web-component.md')}}
    </el-card>
    <el-card>
        {{markdown('index.html.css-in-js.md')}}
    </el-card>
    <el-card>
        {{markdown('index.html.modular.md')}}
    </el-card>
    <el-card>
        {{markdown('index.html.typescript.md')}}
    </el-card>
</div>

<div class="container">
<el-switch></el-switch>
</div>
{% endblock %}
