{% extends '_base.html' %}
{% set to_root = './' %}
{% block head %}
<script defer src="index.js?v={{_v}}"></script>
<meta name="google-site-verification" content="xFq3Nl0sI_UsBeeLA_mS9GuUnf73Llq_p1GbCymLFy4" />
{% endblock %}

{% block body %}
<el-highlight>
    <div el="hl1">
        <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 90%; min-width: 300px;">
            <h1 class="blueGreen">gadjet<sub><el-badge class="bg-theme-yellow" style="font-size: 0.3em; margin-left: 0.5rem;">1.0.4</el-badge></sub></h1>
            <h2>HTML user interface<br>with component based styles</h2>
            <a href="guide/getting-started.html"><button>Guide</button></a>
            <a href="https://github.com/nitipit/gadjet">
                <button class="light" style="margin-left: 1rem;">
                    <el-icon name="github" style="
                        margin-bottom: 0.2rem;
                        margin-right: 0.2rem;
                    "></el-icon>
                    Github
                </button>
            </a>
        </div>
    </div>
    <div el="hl2">
        <div class="text" style="width: 90%; min-width: 300px;">
            {{markdown('index.html.code.md')}}
        </div>
    </div>
</el-highlight>

{% include '_index.html/widget.html' %}
{% include '_index.html/made-for-developer.html' %}
{% include '_index.html/component-based-styles.html' %}
{% include '_index.html/small.html' %}

{% endblock %}
