{% extends '_base.html' %}

{% set to_root = '../' %}

{% block head %}
{{ super() }}
<script defer src="widget.js?v={{_v}}"></script>
{% endblock %}

{% block body %}
<el-widget-container>
    <div class="block">
        <el-card>
            <div class="row">
                <el-switch>
                    <input type="checkbox" checked>
                </el-switch>
            </div>
            <div class="row">
                <el-switch></el-switch>
            </div>
        </el-card>
    </div>
    <div class="block">
        <el-box-arrow class="bottom">Pick a date !</el-box-arrow>
        <el-input-date></el-input-date>
        <el-button-group style="margin-left: 1em;">
            <button>Set</button>
            <button class="light">Reset</button>
        </el-button-group>
        <el-progress-bar value="25"></el-progress-bar>
    </div>
</el-widget-container>
{% endblock %}